*  {
    color: #44ccff;
    font-family: Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body { 
    font-size: 100%;
    height: 100%;
    overflow: auto;
}


/* Global */


.bg {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/2beetbox-menu-3-min.jpg;w=960.jpeg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    background-color: #f71c1c;
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0 20px 0;
    height: 40px;
    width: 125px;
}

button:hover {
    background-color:#991111;
    transition-duration: .1s;
}

button:active {
    background-color:#e74d4d;
    color: #c7f0ff;
}

.container {
    text-align: center;
    padding: 0px;
    margin: 5px auto 10px;
    width: 90%;
}

.desc {
    color: #fff4f4;
    font-weight: bold;
    font-style: italic;
}

.logo {
    display: inline;
}

h1 {
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5em;
    margin: 10px auto 0px;
    color: #f71c1c;
    background-color: hsla(200, 100%, 50%, .5);
    border-radius: 50%;
    padding: 0;
}

h2 {
    margin: 15px 0 15px 0;
    font-size: 1.525em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sect {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

nav {
    display: block;
    margin: 0 0 50px 0;
}

p {
    color: #fff4f4;
    font-size: 1.125em;
    margin: 0 0 10px 0;
}

ul {
    display: inline;
}

li {
    display: inline;
    padding: 0 10px;
    font-size: 1.525em;
    font-weight: bold;
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #fff4f4;
}

a:hover {
    border-bottom: solid 5px hsla(200, 100%, 50%, .5);
    /*background-color:hsla(200, 100%, 50%, .5);*/
    transition-duration: .3s;
}

/*footer {
    top: 0%;
}*/

footer {
    margin-top: 5%;
    bottom: 0%;
    font-size:1em;
}

/* email sign-up*/


.email {
    padding: 5px;
    margin: 50px auto 0;
}

input {
    color: black;
}

.email form label p {
    font-size: 1.125em;
}


/* Menu */


.menu-item {    
    color: #44ccff;
    margin: 0 0 15px 0;
}


/* Contact */


.forms input {
    margin: 15px 0;
    text-align:justify;
}

.forms label {
    
    width: 500px;
    font-weight: bold;;
}

.dialogue {
    height: 200px;
    width: 400px;
    color: black;
}

.dialogue p  {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    color: #44ccff;
    margin: 10px auto;
    width: 200px;
}

textarea {
    color: black;
    height: 200px;
    width: 300px;
}

/* media queries*/

@media (max-width: 634px) {
    h1 {
        font-size: 3.5em;
    }
    h2, li {
        font-size: 1.325em;
    }
    p {
        font-size: 1em;
    }    
    footer {
        font-size: .9em;
    }
}

@media (max-width: 490px) {
    .bg {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/smallbeetbox-menu-3-min.jpg;w=960.jpeg");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    button {
        margin: 10px 0 5px 0;

    }

    .container {
        margin: 0px auto 5px;
    }

    footer {
        margin-top: 0%;
    }

    nav {
        margin: 0 0 15px 0;
    }

    li {padding: 0 20px;}
}

@media (max-width: 388px) {
    h1 {
        font-size: 2.5em;
    }
    li {
        font-size: 1.25em;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 278px) {
    h1 {
        font-size: 2em;
    }
    
    p {
        font-size: 1em;
    }
}

@media (max-width: 222px) {
    h1 {
        font-size: 1.7em;
    }

    li {font-size: 1.1em;}
}